.board {
	padding: $tile_size;
	margin: 1em;
	border: 2px solid brown;

	&__inner {
		position: relative;
		display: grid;
		grid-template-columns: repeat(8, $tile_size);
		grid-template-rows: repeat(8, $tile_size);
		border: 2px solid brown;

		&--row {
			position: absolute;
			right: 100%;
			bottom: 0;
			display: flex;
			flex-flow: column-reverse;

			> * {
				display: flex;
				align-items: center;
				justify-content: center;
				width: $tile_size;
				height: $tile_size;
			}
		}

		&--col {
			position: absolute;
			bottom: 100%;
			left: 0;
			display: flex;

			> * {
				display: flex;
				align-items: center;
				justify-content: center;
				width: $tile_size;
				height: $tile_size;
			}
		}
	}
}