.tile {
	display: flex;
	align-items: flex-end;
	background-size: .85 * $box_size;
	background-repeat: no-repeat;
	background-position: center center;

	&:after {
		content: attr(data-col) attr(data-row);
	}

	&--light {
		@include themed() {
			background-color: t('color-light');
			color: t('color-dark');
		}
	}

	&--dark {
		@include themed() {
			background-color: t('color-dark');
			color: t('color-light');
		}
	}
}