.tile {
	display: flex;
	align-items: flex-end;
	background-size: .9 * $tile_size;
	background-repeat: no-repeat;
	background-position: center center;

	&:after {
		content: attr(data-col) attr(data-row);
		font-size: .875em;
		margin-left: 2px;
		margin-bottom: -2px;
	}

	&--light {
		@include themed() {
			background-color: t('color-light');
			color: t('color-dark');
		}
	}

	&--dark {
		@include themed() {
			background-color: t('color-dark');
			color: t('color-light');
		}
	}
}